PROMPT 1
TIMEOUT 50
DEFAULT install

LABEL install
  MENU LABEL Install DebDox
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target

LABEL installtext
  MENU LABEL Install DebDox (Terminal UI)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=text

LABEL installdebug
  MENU LABEL Install DebDox (Debug Mode)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=debug

LABEL installauto
  MENU LABEL Install DebDox (Automated / answer.toml)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=auto
