UI vesamenu.c32
PROMPT 0
TIMEOUT 100
MENU TITLE DebDox Installer
DEFAULT install

MENU COLOR title    1;36;44 #ff00ffff #00000000 std
MENU COLOR sel      7;37;40 #ff000000 #ff00ffff all
MENU COLOR unsel    37;44   #ffffffff #00000000 std

LABEL install
  MENU LABEL ^Install DebDox
  MENU DEFAULT
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target

LABEL installtext
  MENU LABEL Install DebDox (^Terminal UI)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=text

LABEL installdebug
  MENU LABEL Install DebDox (^Debug Mode)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=debug

LABEL installauto
  MENU LABEL Install DebDox (^Automated / answer.toml)
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=auto
