set default=0
set timeout=10
set timeout_style=menu

insmod gzio
insmod part_gpt
insmod part_msdos
insmod iso9660

# Use a graphical terminal if available, but the menu shows either way.
if loadfont /boot/grub/font.pf2 ; then
    insmod all_video
    insmod gfxterm
    set gfxmode=auto
    terminal_output gfxterm
fi

menuentry "Install DebDox" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target
    initrd /live/initrd.img
}

menuentry "Install DebDox (Terminal UI)" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=text
    initrd /live/initrd.img
}

menuentry "Install DebDox (Debug Mode)" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=debug
    initrd /live/initrd.img
}

menuentry "Install DebDox (Automated / answer.toml)" {
    linux  /live/vmlinuz boot=live components locales=en_US.UTF-8 keyboard-layouts=se systemd.unit=installer.target debdox.installer=auto
    initrd /live/initrd.img
}
